/* CSS-Regel für die basis Struktur */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  font-size: var(--global-font-size);
  font-family: var(--global-primary-font-family);
  /* color: var(--global-text-color); */
}

/* CSS-Regel für den linken Seitenbereich */
.side_alignment_header_footer {
  display: flex;
  flex-direction: column;
  width: 12.5rem;
  background: var(--global-color-background);
  background-repeat: no-repeat;
}

/* CSS-Regel für den header */
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80%;
  width: inherit;
}

.selfie_frame {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-repeat: no-repeat;
  width: inherit;
  height: 35%;
  background-size: 100% 100%;
  background-image: url(Selfie.jpg);
}

.selfie_frame h3 {
  font-family: var(--global-secondary-font-family-bold);
  font-size: 1.1rem;
  color: white;
  padding: 5px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #0069e1aa;
  width: inherit;
  height: 2rem;
  text-align: center;
}

/* CSS-Regeln für die Icon Buttons */
.button_icon_flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* CSS-Regeln für die Icon Buttons */
.side_buttons_icons_alignment {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
}

/* CSS-Regeln für die Buttons */
.side_buttons_alignment {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.side_buttons {
  background-color: transparent;
  color: rgb(158, 158, 158);
  border: none;
  transition: color 0.3s; /* Übergangseffekt für die Textfarbe */
}

/* CSS-Regel für den aktiven Button */
.side_buttons.active-button {
  color: white;
}

/* CSS-Regel für den footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 20%;
  width: inherit;
  text-align: center;
}

footer div {
  display: flex;
  justify-content: space-around;
}

footer p {
  color: lightgray;
}

/* CSS-Regel für das Container-Div */

#container {
  width: 100%;
  position: relative; /* Positionierung für Sections */
}

/* CSS-Regel für die Sections */
section {
  position: absolute; /* Positionierung der Sections */
  top: 0; /* Sections oben ausrichten */
  left: 0; /* Sections links ausrichten */
  opacity: 0; /* Standardmäßig alle Sections ausblenden */
  color: white;
  font-size: 18px;
  text-align: center;
  width: inherit;
  height: 100%;
  transition: opacity 1s ease-in-out; /* Übergangseffekt: 1 Sekunde, sanftes Ein- und Ausblenden */
}
.visible {
  opacity: 1; /* Klasse 'visible' zeigt den Abschnitt an */
}

/* Farben für die Sections */
#section1 {
  background: var(--global-color-background);
  background-repeat: no-repeat;
  /* background-color: #353638; */
}
#section2 {
  background-color: rgba(19, 68, 19, 0.564);
}
#section3 {
  background-color: rgba(10, 10, 63, 0.565);
}
#section4 {
  background-color: rgba(75, 21, 21, 0.808);
}
#section5 {
  background-color: rgba(87, 74, 22, 0.775);
}
#section6 {
  background-color: rgba(36, 83, 86, 0.88);
}

/* CSS-Regel für das Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  width: 600px;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  overflow-y: scroll;
  height: 85vh;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  cursor: pointer;
}
