/* CSS-Regel für die basis strucktur */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  display: flex;
}

.side_alignment_heade_footer {
  display: flex;
  flex-direction: column;
}
.test {
  width: inherit;
}

.test h3 {
  position: absolute;
  bottom: 660px;
  z-index: 2;
  color: white;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #0069e1aa;
  width: inherit;
  height: 2rem;
  text-align: center;
}

/* CSS-Regeln für die Buttons */
.side_buttons_alignment {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.side_buttons {
  background-color: transparent;
  color: rgb(158, 158, 158);
  border: none;
  transition: color 0.3s; /* Übergangseffekt für die Textfarbe */
}

/* CSS-Regel für den aktiven Button */
.side_buttons.active-button {
  color: white;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 12.5rem;
  height: 20%;
  background-color: rgba(9, 3, 45, 0.576);
}
/* CSS-Regel für das Container-Div */

#container {
  width: 100%;
  position: relative; /* Positionierung für Sections */
}

/* CSS-Regel für die Sections */
section {
  position: absolute; /* Positionierung der Sections */
  top: 0; /* Sections oben ausrichten */
  left: 0; /* Sections links ausrichten */
  opacity: 0; /* Standardmäßig alle Sections ausblenden */
  color: white;
  font-size: 18px;
  text-align: center;
  width: inherit;
  height: 100%;
  transition: opacity 1s ease-in-out; /* Übergangseffekt: 0,5 Sekunden, sanftes Ein- und Ausblenden */
}
.visible {
  opacity: 1; /* Klasse 'visible' zeigt den Abschnitt an */
}

/* Farben für die Sections */
#section1 {
  background: var(--global-color-background);
  background-repeat: no-repeat;
  /* background-color: #353638; */
}
#section2 {
  background-color: rgba(19, 68, 19, 0.564);
}
#section3 {
  background-color: rgba(10, 10, 63, 0.565);
}
#section4 {
  background-color: rgba(75, 21, 21, 0.808);
}
#section5 {
  background-color: rgba(87, 74, 22, 0.775);
}
#section6 {
  background-color: rgba(36, 83, 86, 0.88);
}

/* CSS-Regel für das Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  width: 600px;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  overflow-y: scroll;
  height: 85vh;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  cursor: pointer;
}
