/* CSS-Regel für die basis Struktur */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  font-size: var(--global-font-size);
  font-family: var(--global-primary-font-family);
  /* color: var(--global-text-color); */
}

/* CSS-Regel für den linken Seitenbereich */
.side_alignment_header_footer {
  font-size: var(--global-font-size);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12rem;
  background: var(--global-color-background);
  background-repeat: no-repeat;
}

/* CSS-Regel für den header */
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50rem;
  width: inherit;
}

.selfie_frame {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: inherit;
  height: 14rem;
  background-image: url(/img/Selfie-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.selfie_frame h1 {
  font-weight: lighter;
  font-size: var(--global-secondary-font-size);
  font-family: var(--global-secondary-font-family);
  color: var(--global-accent-color);
  background-color: rgba(0, 0, 0, 0.618);
  width: inherit;
  padding: 0.2rem 0 0.2rem 0;
  text-align: center;
  letter-spacing: 0.8pt;
}

/* CSS-Regeln für den Button Container */
.button_container_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_container_flex div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20rem;
}
/* CSS-Regeln für die Buttons */
.side_buttons {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: var(--global-secondary-color);
  border: none;
  transition: color 0.3s; /* Übergangseffekt für die Textfarbe */
  font-family: var(--global-secondary-font-family);
  font-size: var(--global-Btn-font-size);
  font-weight: lighter;
  letter-spacing: 0.5pt;
}
.side_buttons img {
  margin-right: 0.8rem;
}

/* CSS-Regel für den aktiven Button */
.side_buttons.active_button {
  color: var(--global-accent-color);
}

/* CSS-Regel für den header foot */
.header-foot {
  font-family: var(--global-primary-font-family);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 20%;
  width: inherit;
  text-align: center;
}

.side_buttons:hover,
.side_buttons:focus {
  color: var(--global-accent-color);
  text-decoration: none;
  cursor: pointer;
}

.header-foot div {
  width: inherit;
  display: flex;
  justify-content: space-evenly;
}

/* CSS-Regel für das hovern der Social Icons */
.social_icon {
  width: 20.52px;
  height: 22px;
  fill: var(--global-secondary-color);
  transition: fill 0.3s ease;
}

.social_link:hover .social_icon,
.social_link:focus .social_icon {
  fill: var(--global-accent-color);
}

/* CSS-Regel für den Credits Modal Button */
.credits_Btn {
  margin: 0.6rem 0 0.6rem 0;
  color: var(--global-secondary-color);
  font-size: 0.6rem;
  letter-spacing: 1pt;
}

.imp_Btn {
  margin-bottom: 0.6rem;
  letter-spacing: 1pt;
}

/* CSS-Regel für das Modal */
.modal {
  font-family: var(--global-primary-font-family);
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: height 0.6s ease;
}

.modal_content {
  scroll-behavior: smooth;
  width: 600px;
  margin: 0 auto;
  overflow-y: auto;
  height: 100vh;
  transform: translateY(100%);
  transition: transform 0.6s ease;
}

.modal_header {
  padding: 0.125rem 1rem;
  background: var(--global-color-background);
  color: var(--global-secondary-color);
}

.modal_inner {
  padding: 1rem;
  background: var(--global-color-background);
  background-repeat: no-repeat;
  color: var(--global-secondary-color);
}

.imp_contact {
  font-size: var(--global-font-size);
}

.hr_contact {
  width: 12.5rem;
}

/* CSS-Regeln für die Modal Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  /* width */
}

::-webkit-scrollbar-track {
  background: var(--global-color-background);
  /* Track */
}

::-webkit-scrollbar-thumb {
  background: var(--global-accent-color);
  border-radius: 2rem;
  /* Handle */
}

::-webkit-scrollbar-thumb:hover {
  background: deepskyblue;
  /* Handle on hover */
}

.modal.open {
  z-index: 99;
  height: 100%;
}

.modal.open .modal_content {
  transform: translateY(0);
}

.close {
  color: var(--global-secondary-color);
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--global-accent-color);
  text-decoration: none;
  cursor: pointer;
}

/* CSS-Regel für das Container-Div */
#container {
  width: 100%;
  position: relative; /* Positionierung für Sections */
}

/* CSS-Regel für die Sections */
section {
  position: absolute; /* Positionierung der Sections */
  top: 0; /* Sections oben ausrichten */
  left: 0; /* Sections links ausrichten */
  opacity: 0; /* Standardmäßig alle Sections ausblenden */
  color: white;
  font-size: var(--global-secondary-font-size);
  /* text-align: center; */
  width: inherit;
  height: 100%;
  transition: opacity 1s ease-in-out; /* Übergangseffekt: 1 Sekunde, sanftes Ein- und Ausblenden */
}
.visible {
  opacity: 1; /* Klasse 'visible' zeigt den Abschnitt an */
}

h2 {
  margin: 1.5rem 0 0.2rem 0;
  font-size: 2rem;
}

/* Section1 */
#section1 {
  background-image: url(/img/hand-mit-orbs-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--global-accent-color);
  font-family: var(--global-secondary-font-family);
  font-size: xx-large;
}

.i_m_home {
  display: inline-block;
  padding-right: 4.5rem;
}

.job_container {
  height: 10%;
  display: flex;
  max-width: 25rem;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Verhindert das Überlaufen des Textes */
}

.job_container p {
  font-size: x-large;
  width: 0; /* Beginne mit einer Breite von 0 */
  white-space: nowrap; /* Text nicht umbrechen */
  overflow: hidden; /* Verstecke den überlaufenden Text */
  transition: width 1s ease-in-out; /* Übergangseffekt für die Breite */
}

/* Section1 Ende___________________________*/

#section2 {
  background-color: rgba(19, 68, 19, 0.564);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section3 {
  background-color: rgba(10, 10, 63, 0.565);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section4 {
  background: var(--global-color-background);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--global-accent-color);
  font-family: var(--global-secondary-font-family);
  font-size: xx-large;
}
.gallery-box {
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100vh;
  margin: 0.5rem 0 1rem 0;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
#section5 {
  background-color: rgba(87, 74, 22, 0.775);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section6 {
  background-color: rgba(36, 83, 86, 0.88);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS-Helper-Regeln */
footer {
  display: none;
}
/* __________________________________________________________ */

/* CSS-Regeln für links */
a:link {
  color: var(--global-accent-color);
  text-decoration: none;
  /* unvisited link */
}

a:visited {
  color: red;
  text-decoration: none;
  /* visited link */
}

a:hover {
  color: deepskyblue;
  text-decoration: underline;
  /* mouse over link */
}

a:active {
  color: var(--global-secondary-color);
  text-decoration: underline;
  /* selected link */
}
